*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    position: fixed;
    background-image: url(../images/bg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

header img{
    border-radius: 50%;
}

nav{
    margin-right: 50px;
    padding-top: 100px;
}

nav ul{
    line-height: 40px;
}

nav img{
    width: 27%;
}

header footer{
    line-height: 50px;
}

.socialMediaFooter{
    margin: 0 10px 0 10px;
    color: #999;
}

.socialMediaFooter:hover{
    color: white;
    transition: .3s all;
}

.lista{
    text-decoration: none;
    font-size: clamp(1em, 1em + 1vw, 2em);
    color: #555;
}

p a{
    text-decoration: none;
    color: #555;
}

ul p{
    color: #555;
    margin-top: 20px;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
      
}

header a:hover{
    color: white;
    transition: 0.3s all;
}

footer{
    margin-right: 50px;
    padding-bottom: 20px;
    font-size: clamp(1em, 1em + 1vw, .5em);
}

main{
    position: relative;
    left: 35%;
    width: 65%;
    color: rgb(97, 97, 97);
    font-size: 13px;
}
article{
    width: 80%;
    padding: 150px 0 0 40px;
    height: 3000px;
}

#apresentacao p{
    margin: 30px 0 30px 0;
}

#apresentacao h1{
    font-size: 20px;
}

.veja{
    background-color: white;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    padding: 10px;
}
.veja:hover{
    border-color: purple;
    color: purple;
    transition: 0.3s all;
}

#works_title{
    margin: 50px 0 50px 0;
    font-size: 20px;
}

#works{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons{
    width: 100%;
    height: 240px;
}

.icons img{
    width: 95%;
    height: 150px;
    border-radius: 10px;
}

.flex p{
    margin-bottom: 30px;
    margin-top: 10px;
}

#portifoliobtn{
    width: 25%;
    height: 40px;
    font-size: 11px;
    margin: 35px 0;
    border-radius: 5px;
    background-color: #49bf9d;
    border: none;
    font-weight: bold;
    color: white;
}

#portifoliobtn:hover{
    background-color: purple;
    transition: 0.5s all;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label{
    display: block;
    margin: 5px 0;
}

#campo_1{
    border: none;
}

#nome, #email{
    border: none;
    background-color: #cccccc;
    border-radius: 5px;
    height: 50px;
    width: 100%;
}

form{
    width: 100%;
}

#textos{
    width: 10%;
    margin-left: 4%;
}

.flexy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lateral{
    width: 48%;
}

#formulario h1{
    font-size: 20px;
}

#formulario p{
    margin: 25px 0;
    font-size: 15px;
}

#campo{
    height: 150px;
    border: none;
    background-color: #cccccc;
    border-radius: 5px;
    height: 150px;
    width: 100%;
}

#btn{
    background-color: white;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0 30px 0;
}

#btn:hover{
    border-color: purple;
    color: purple;
    transition: 0.3s all;
}

#elements h1{
    font-size: 20px;
}

#elements p{
    margin: 25px 0 40px 0;
}

.titles{
    margin: 40px 0;
}

blockquote{
    border-left: 6px solid #ccc;
    padding: 30px;
    width: 40%;
    font-size: 16px;
}

pre{
    padding-top: 10px;
    background-color: #f7f7f7;
    border: 1px solid #d8d8d8;
}

#citacao h1{
    margin: 40px 0;
    font-size: 20px;
}

#listas h1{
    font-size: 20px;
    margin: 50px 0 40px 0;
}

.list_div h2{
    font-size: 15px;
    margin-bottom: 20px;
}

.list_div{
    width: 40%;
    list-style: inside;
    height: 160px;
}
ul, ol{
    line-height: 25px   ;
}

#actions h1{
    margin: 25px 0;
}

#botao_pg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;  
}

#botao_p{
    width: 49%;
}

#botao_g{
    width: 49%;
}

#botao_g button{
    display: block;
    width: 100%;
}

#botao_verde_p{
    background-color: #49bf9d;
    border: none;
    width: 25%;
    height: 50px;
    border-radius: 5px;
    color: white;
}

#botao_transparente_p{
    border: 1px solid #cccccc;
    width: 25%;
    height: 50px;
    border-radius: 5px;
}

#botao_verde_g{
    height: 35px;
    background-color: #49bf9d;
    color: white;
    border: none;
    border-radius: 5px;
}

#botao_transparente_g{
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#botao_verde_doisP{
    background-color: #49bf9d;
    border: none;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}

#botao_transparente_doisP{
    border: 1px solid #cccccc;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-size: 10px;
}

#botao_verde_doisM{
    height: 25px;
    background-color: #49bf9d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}

#botao_transparente_doisM{
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 10px;
}

table{
    margin: 0 auto;
    border-bottom: 1px solid black;
    border-collapse:collapse;
    width: 95%;
    text-align: left;
}

thead{
    background-color: #999;
    border-bottom: 1px solid black;
    line-height: 40px;
}

.linha{
    line-height: 40px;
    background-color: rgb(227, 227, 227);
}
.linhaAlt{
    line-height: 40px;
    background-color: rgb(207, 207, 207);
}

#tables h1{
    font-size: 20px;
    margin-top: 20px;
}

#tables h2{
    font-size: 15px;
    margin: 35px 0;
}

#buttons{
    margin-top: 50px;
}

.sideBySide{
    margin: 20px 0;
}

.grandeVerde{
    width: 15%;
    height: 40px;
    background-color: #49bf9d;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.grandeBranco{
    width: 15%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: black;
}

.pequenoVerde{
    width: 12%;
    height: 30px;
    font-size: 13px;
    background-color: #49bf9d;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.pequenoBranco{
    width: 12%;
    height: 30px;
    font-size: 13px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: black;
}

.bellow{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forms form{
    width: 100%;
}

#campo_2{
    margin-top: 40px;
    width: 100%;
    border: none;
}

#name, #e_mail, select{
    width: 97%;
    height: 40px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
}

select{
    margin-top: 20px;
}

#forms p{
    display: inline-block;
    margin: 5px 0;
}

#mensagens{
    width: 97%;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
}

#imagens{
    margin: 50px 0;
}
.full img{
    width: 97%;
}

.grid{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid div{
    width: 100%;
}

.grid img{
    width: 32%;
}

#textos h1{
    margin: 20px 0;
}

#textos{
    width: 100%;
}

#imagem_um{
    width: 13%;
    float: left;
}

#imagem_dois{
    width: 13%;
    float: right;
}

#textos p{
    margin: 30px 0;
    font-size: 12px;
}